name: CI

on:
  push:
    branches: [ main , develop]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    services:
      mongo:
        image: mongo:6
        ports:
          - 27017:27017

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build and Test
      run: mvn -B clean verify -Dtest='!**/*Swing*' -DfailIfNoTests=false

    - name: Mutation Testing
      run: mvn org.pitest:pitest-maven:mutationCoverage